* {
  box-sizing: border-box;
}

body,
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
  background-color: #fff1f2;
  box-shadow: 0px 2px 8px #881337;
  z-index: 1;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h3 {
  display: flex;
  gap: 1.5rem;
  margin: 0;
}

button {
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

button:hover {
  background-color: #ffe4e6;
}

button:active {
  background-color: #ffe4e6;
  box-shadow: 0 2px 8px #4c0519;
  transform: translateY(2px);
}

.add-button {
  border-radius: 32px;
  padding: 8px;
  width: 43px;
}

#content {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
}

.icon {
  width: 24px;
  height: 24px;
}

/* dashboard section */

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #fb7185;
  color: white;
  font-size: 2rem;
  padding: 1.5rem;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects h3 {
  align-items: center;
}

.projects li {
  font-size: 1.5rem;
}

li button {
  display: block;
  width: 100%;
}

/* main content */

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(252, 252, 252);
  padding: 2rem;
}

.main-heading {
  display: flex;
  justify-content: space-between;
  background-color: #fb7185;
  padding: 1rem;
  margin: 0;
  color: white;
}

.add-to-do {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* list of to do's */

.to-do {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff1f2;
  padding: 1rem;
  border-radius: 16px;
}

.to-do-title {
  display: flex;
  align-items: center;
}

.to-do button {
  background-color: transparent;
  padding: 0;
  margin: 0 1rem;
}

.to-do-buttons button:active {
  transform: translateY(2px);
}

.to-do img {
  width: 24px;
}
